.about-heading {
    display: flex;
    justify-content: center;
}

.about-heading h1 {
    color: black;
}

.our-story-text {
    color: black;
}

.about-writing {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    border: 7px dashed red;
    width: 70%;
    justify-content: center;
    align-items: center;
    max-width: 800px;
}

.wrapper p {
    border: 7px dashed blue;
    font-size: 20px;
    text-align: center;
    margin: 2px;
    padding: 10px;
}

.old-photo1 {
    float: right;
}

.old-photo2 {
    float: left;
}

